<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <nav class="bg-primary py-4 px-8 flex justify-between items-center">
      <a href="/" class="text-white text-3xl font-bold">Home</a>
      <div class="w-44 flex justify-between items-center">
        <a href="/users/register" class="inline-block  bg-blue-900 text-white p-3 hover:bg-indigo-700 rounded-lg font-bold"><h2>Register</h2></a>
        <a href="/users/login" class="inline-block  bg-blue-900 text-white p-3 hover:bg-indigo-700 rounded-lg font-bold text"><h2>Login</h2></a>
      </div>
     
   </nav>
    <section class="text-center">
      <h1 class="mt-6 text-3xl font-bold text-blue-500">Welcome to Blog</h1>
        <a href="/articles" class="inline-block mt-6 bg-blue-900 text-white p-3 hover:bg-indigo-700 rounded-lg"><h2>Got to Blog Page</h2></a>
      
    </section>
  </body>
</html>
