/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
a {
  text-decoration: none;
}
body {
  background-color: antiquewhite;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0.3rem 0;
}
.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  color: aquamarine;
  font-size: 1.3rem;
}
nav {
  background-color: black;
}
nav ul li {
  padding: 0.3rem 0.6rem;
}
nav ul li a {
  color: white;
  padding: 0.5rem 0.6rem;
  font-size: 1.1rem;
  transition: all 0.4s ease-in;
}
nav ul li a:hover {
  background-color: white;
  color: black;
}
.center {
  text-align: center;
}
.btn-index {
  background-color: black;
  color: white;
  border: 0;
  padding: 0.4rem 0.7rem;
  font-size: 1.2rem;
  cursor: pointer;
}
.btn-index:hover {
  text-decoration: underline;
}
.form {
  border: 2px dashed black;
  width: 60%;
  margin: 0 auto;
  padding: 0.3rem 0.8rem;
}
.form-control {
  font-size: 1.3rem;
  text-transform: uppercase;
  text-decoration: underline;
}
.form-control input {
  display: inline-block;
  width: 100%;
  margin: 0.3rem 0;
  padding: 0.3rem 0;
}
.form-control input[type="submit"] {
  width: 20%;
  border: 0;
  background-color: aquamarine;
  padding: 0.4rem 0;
  font-size: 1.2rem;
  cursor: pointer;
}
.form-control input[type="radio"],
label {
  display: inline;
  width: 2%;
}
.content {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}
.flex-50 {
  flex: 0 1 50%;
}
.product-info {
  border: 1px solid black;
  margin: 0.3rem 0.2rem;
}
h1.product-name {
  background-color: black;
  color: white;
  font-size: 1.6rem;
}
span.likes {
  float: right;
  font-size: 1.1rem;
}
.product-quantity {
  text-align: left;
  font-size: 1.4rem;
}
.btn-view {
  background-color: turquoise;
  border: 0;
  padding: 0.3rem 0.5rem;
  font-size: 1rem;
  margin: 0.3rem 0;
  cursor: pointer;
}
.product {
  background-color: black;
  color: white;
  font-size: 1.3rem;
}
